# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Database files #
*.sqlite3
*.db
db.sqlite3.bak-2026-07-10


# Docs directory
docs


# Environments 
.env 
.venv


# Other files #
access_trending_tracks.py
display_users.py
.cache
users.json
.claude/


# Nginx file
ttt
