{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>followCrom's Top Track Tracker</title>

    <!-- Canonical Link -->
    <link rel="canonical" href="https://ttt.followcrom.com/">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/full_screen.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/trend_table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/tops_table.css' %}">




    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Exo+2&family=Changa&family=Slackey&family=Reggae+One&display=swap"
        rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>


<body class="main">

    <div class="banner">
        <i class="fa-brands fa-spotify"></i>Top Track Tracker
    </div>



    <nav class="navbar">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'top_tracks_short_term' %}">Short Term</a>
            <a class="nav-link" href="{% url 'top_tracks_medium_term' %}">Medium Term</a>
            <a class="nav-link" href="{% url 'top_tracks_long_term' %}">Long Term</a>
            <a class="nav-link" href="{% url 'build_playlist' %}">Playlist Builder</a>
            {% if user.is_staff %}
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="nav-link" href="#"
                onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-link" href="https://www.followcrom.com/">followCrom online</a>
            {% endif %}
        </div>

        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>

    </nav>






    <div id="content" name="content">
        {% block content %}
        <!-- Content overridden in child templates -->
        {% endblock %}
    </div>


</body>

</html>