{% extends "base.html" %}

{% block content %}

<div class="home-content">

    {% if user.is_authenticated %}
    <h2>👋 Yo Breezy! Here's your top 10 for:</h2>

    {% for period in lastfm_periods %}
    <h3>{{ period.label }}</h3>
    <ul>
        {% for track in period.tracks %}
        <li>
            {{ forloop.counter }}. <strong>{{ track.name|slice:":30" }}</strong> by <strong>{{ track.artist }}</strong>
            (Playcount: {{ track.playcount }})
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

    {% else %}

    <h2><i class="fa-regular fa-face-smile"></i> {{ welcome }}</h2>

    <h3>Please login to continue</h3>
    <a href="{% url 'login' %}" class="login-button">Log In</a>
    {% endif %}
</div>

{% endblock %}