{% extends "base.html" %} {% block content %}

<h1>{{ name }}</h1>

<div id="message-area"></div>

<div class="topRow">
  {% if show_back %}
  <a href="?offset={{ back_offset }}" class="button" style="color: #fd7e14"
    >- 10</a
  >
  {% endif %} {% if show_forward %}
  <a href="?offset={{ next_offset }}" class="button" style="color: #2fff9b"
    >+ 10</a
  >
  {% endif %}
</div>

<table class="track_table">
  <tr>
    <th>Artist</th>
    <th>Song</th>
    <th>Popularity</th>
    <th class="album">Album</th>
    <th class="release">Release</th>
    <th class="uris">Listen</th>
    <th>Playlist</th>
  </tr>

  {% for track in tracks %}

  <tr>
    <td class="artist">{{ track.artist }}</td>
    <td class="song">{{ track.song }}</td>
    <td class="popularity">{{ track.popularity }}</td>
    <td class="album">{{ track.album }}</td>
    <td class="release">{{ track.release_year }}</td>
    <td class="uris">
      <i class="fa-brands fa-spotify"></i>
      <a class="uri" href="{{ track.uri }}" target="_blank"
        >Open <i>{{ track.song }}</i></a
      >
    </td>
    <td class="add">
      <form class="ajax-form" method="post" action="{% url 'add_to_playlist' %}">
        {% csrf_token %}
        <input type="hidden" name="artist" value="{{ track.artist }}" />
        <input type="hidden" name="song" value="{{ track.song }}" />
        <input type="hidden" name="uri" value="{{ track.uri }}" />
        <input
          type="hidden"
          name="release_year"
          value="{{ track.release_year }}"
        />
        <input type="hidden" name="popularity" value="{{ track.popularity }}" />
        <input type="hidden" name="album" value="{{ track.album }}" />
        <button type="submit">Add to Playlist</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<br /><br />

<!-- this is pulling in jquery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    $(".ajax-form")
      .off("submit")
      .on("submit", function (e) {
        e.preventDefault(); // Prevents the default form submission action
        console.log("form event triggered");
        $.ajax({
          type: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          success: function (response) {
            var messageArea = $("#message-area");
            messageArea.text(response.message);
            messageArea.css({
              color: response.success ? "#54E772" : "#E75480",
            });

            // Clear the message after 2.5 seconds
            setTimeout(function () {
              messageArea.text("");
            }, 2500);

            console.log("form event completed");
          },
          error: function (xhr, status, error) {
            // Handle error
            var messageArea = $("#message-area");
            messageArea.text("An error occurred: " + error);
            messageArea.css("color", "red"); // Display message in red
          },
        });
      });
  });
</script>

{% endblock %}
